<<<<<<< Updated upstream
/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
=======
<<<<<<< HEAD
/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
=======
/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
>>>>>>> 95fb5f4567a5d404bd0e1bb8cb404b9d500c5840
>>>>>>> Stashed changes
	}